@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 2 4 1;
        --foreground: 249 254 247;
        --card: 27 38 21;
        --card-foreground: 249 254 247;
        --popover: 42 46 39;
        --popover-foreground: 249 254 247;
        --primary: 128 224 77;
        --primary-foreground: 0 0 0;
        --secondary: 155 220 148;
        --secondary-foreground: 30 77 25;
        --muted: 214 220 211;
        --muted-foreground: 74 85 68;
        --accent: 86 218 220;
        --accent-foreground: 17 84 85;
        --destructive: 254 67 54;
        --destructive-foreground: 255 255 255;
        --border: 61 68 58;
        --input: 74 82 69;
        --ring: 61 68 58;

        --android-background: 1 2 1;
        --android-foreground: 251 253 251;
        --android-card: 28 35 28;
        --android-card-foreground: 251 253 251;
        --android-popover: 43 46 43;
        --android-popover-foreground: 251 253 251;
        --android-primary: 120 174 117;
        --android-primary-foreground: 0 0 0;
        --android-secondary: 144 163 142;
        --android-secondary-foreground: 47 56 46;
        --android-muted: 216 219 216;
        --android-muted-foreground: 73 80 73;
        --android-accent: 104 169 170;
        --android-accent-foreground: 37 65 65;
        --android-destructive: 147 0 10;
        --android-destructive-foreground: 255 255 255;
        --android-border: 63 67 63;
        --android-input: 75 80 75;
        --android-ring: 63 67 63;

        --web-background: 1 2 1;
        --web-foreground: 251 253 251;
        --web-card: 28 35 28;
        --web-card-foreground: 251 253 251;
        --web-popover: 43 46 43;
        --web-popover-foreground: 251 253 251;
        --web-primary: 120 174 117;
        --web-primary-foreground: 0 0 0;
        --web-secondary: 144 163 142;
        --web-secondary-foreground: 47 56 46;
        --web-muted: 222 225 222;
        --web-muted-foreground: 73 80 73;
        --web-accent: 101 172 174;
        --web-accent-foreground: 35 66 67;
        --web-destructive: 147 0 10;
        --web-destructive-foreground: 255 255 255;
        --web-border: 63 67 63;
        --web-input: 75 80 75;
        --web-ring: 63 67 63;
    }

    @media (prefers-color-scheme: dark) {
        :root {
            --background: 2 4 1;
            --foreground: 249 254 247;
            --card: 27 38 21;
            --card-foreground: 249 254 247;
            --popover: 42 46 39;
            --popover-foreground: 249 254 247;
            --primary: 128 224 77;
            --primary-foreground: 0 0 0;
            --secondary: 155 220 148;
            --secondary-foreground: 30 77 25;
            --muted: 214 220 211;
            --muted-foreground: 74 85 68;
            --accent: 86 218 220;
            --accent-foreground: 17 84 85;
            --destructive: 254 67 54;
            --destructive-foreground: 255 255 255;
            --border: 61 68 58;
            --input: 74 82 69;
            --ring: 61 68 58;

            --android-background: 1 2 1;
            --android-foreground: 251 253 251;
            --android-card: 28 35 28;
            --android-card-foreground: 251 253 251;
            --android-popover: 43 46 43;
            --android-popover-foreground: 251 253 251;
            --android-primary: 120 174 117;
            --android-primary-foreground: 0 0 0;
            --android-secondary: 144 163 142;
            --android-secondary-foreground: 47 56 46;
            --android-muted: 216 219 216;
            --android-muted-foreground: 73 80 73;
            --android-accent: 104 169 170;
            --android-accent-foreground: 37 65 65;
            --android-destructive: 147 0 10;
            --android-destructive-foreground: 255 255 255;
            --android-border: 63 67 63;
            --android-input: 75 80 75;
            --android-ring: 63 67 63;

            --web-background: 1 2 1;
            --web-foreground: 251 253 251;
            --web-card: 28 35 28;
            --web-card-foreground: 251 253 251;
            --web-popover: 43 46 43;
            --web-popover-foreground: 251 253 251;
            --web-primary: 120 174 117;
            --web-primary-foreground: 0 0 0;
            --web-secondary: 144 163 142;
            --web-secondary-foreground: 47 56 46;
            --web-muted: 222 225 222;
            --web-muted-foreground: 73 80 73;
            --web-accent: 101 172 174;
            --web-accent-foreground: 35 66 67;
            --web-destructive: 147 0 10;
            --web-destructive-foreground: 255 255 255;
            --web-border: 63 67 63;
            --web-input: 75 80 75;
            --web-ring: 63 67 63;
        }
    }
}